.header {
  display: grid;
  gap: 12px;
}

.grid {
  display: grid;
  gap: 16px;

  grid-template-columns: 1fr;

  @media (min-width: 900px) {
    grid-template-columns: 1fr 1fr;
  }
}

.card {
  height: 100%;
}
