.hero {
  display: grid;
  gap: 20px;

  grid-template-columns: 1fr;
  align-items: start;

  @media (min-width: 900px) {
    grid-template-columns: 360px 1fr;
    align-items: center;
  }
}

.avatarWrap {
  display: flex;
  gap: 16px;
  align-items: center;
}

.highlights {
  margin-top: 24px;
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr;

  @media (min-width: 900px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.card {
  height: 100%;
}
